.store_container {
  background: #fff;
}
.store_container h3 {
  color: goldenrod;
  font-size: 14.5vw;
  text-align: center;
}
.main_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  padding: 20px 0;
  width: 80%;
}
