@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.card_wrapper {
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 350px;
  background: #fff;
  overflow: hidden;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.card_image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.card_image img {
  max-width: 80%;
}
.card_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card_content p {
  text-align: center;
  color: blue;
  text-transform: uppercase;
  font-weight: 600;
}
.cta {
  padding: 10px 20px;
  background-color: #2196f3;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
}
.cta a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.cta a:hover {
  color: #fff;
}
